* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #606c71;
}

section.Landing {
    position: relative;
}

section.Landing .ImageWrap img {
    width:100%;
}

section.Landing .ContentWrap {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
}

#mc_embed_signup {
    width: 50%;
    margin: auto;
    MAX-WIDTH: 500PX;
    position: relative;
}

.inner {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
    width: 200px;
    height: 200px;
}